<div id="new-form-card">
	<div class="form-header"><p>Applicant Information_</p></div>
	<div class="new-student-form-fields">
		<%= render 'form', student: @student %>

		<%= link_to 'Back', students_path %>
	</div>
</div>

