<<<<<<< HEAD
<%= render 'form', student: @student %>
=======
<div id="new-form-card">
	<div class="form-header"><p>Applicant Information_</p></div>
	<div class="new-student-form-fields">	
		<%= render 'form', student: @student %>
		<%= link_to 'Back', students_path %>
	</div>
</div>

>>>>>>> 4e00d10c73e43a49cfd56951f3c8850347f97e49
