<div id="header"></div>

<div id="nav-bar">
	<div class="for-navbar">
		<span class="nav-item">
			<div class="status-icons">
				<% if current_page?(new_student_path) %>
					<p>1</p>
				<% end %>
			</div>
				<p class="nav-info">Application<br/>Form</p>
		</span>

		<span class="nav-item">
			<div class="status-icons">
				<% if current_page?(@student) %>
					<p>2</p>
				<% end %>
			</div>
				<p class="nav-info">Contract<br/>Agreement</p>
		</span>

		<span class="nav-item">
			<div class="status-icons">
				<p>3</p>
			</div>
				<p class="nav-info">Account<br/>Set-Up</p>
		</span>

		<span class="nav-item">
			<div class="status-icons">
				<p>4</p>
			</div>
				<p class="nav-info">Financial<br/>Guidance</p>
		</span>

		<span class="nav-item">
			<div class="status-icons">
				<p>5</p>
			</div>
				<p class="nav-info">Review</p>
		</span>
	</div>
</div>