@import "bootstrap";

// MIXINS START

$green-highlights: #00CB79;
$border-color: 3px solid #00CB79;

@mixin centering {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  @content;
}

@mixin date {
	box-sizing: border-box;
	float: left;
	height: 40px;
	width: 200px !important;
	padding: 0px 15px;
	background: transparent;
	-webkit-appearance: none;
	-webkit-border-radius: 0 !important;
	border-radius: 0;
	border: 1px solid #999999 !important;
	@content;
}

// MIXINS END

// GLOBAL STYLES START

html,
body {
	width: 100%;
	height: 100%;
	margin:0;
	padding:0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

// GLOBAL STYLES END

// HEADER STYLES START

#app-wrapper {
	margin-right: 15%;
	margin-left: 15%;
}

#header {
	width: 100%;
	padding-top: 15px;
	padding-bottom: 18px;
	background-color: black;
}

#header img {
	margin-left: 2%;
}

#nav-bar {
	margin-top: 30px;
}

.for-navbar {
	@include centering
}

.nav-item {
	float: left;
	height: 110px !important;
	margin-right: 3.5%;
	margin-left: 3.5%;
	text-align: center;
}

.status-icons {
	width: 40px;
	padding-top: 8px;
	padding-bottom: 8px;
	height: 40px !important;
	max-height: 40px;
	border: 1px solid #999999;
	margin-right: auto;
	margin-left: auto;
	box-sizing: border-box;
	text-align: center;
	color: #999999;
	transform-orgin: center;
	transform: rotate(45deg);
}

.status-icons p {
	transform-orgin: center;
	transform: rotate(-45deg);
}

.active-icon {
	border: $border-color;
	color: $green-highlights;
}

.nav-info {
	margin-top: 15px;
	line-height: 17px;
	color: #999999;
}

.active-text {
	color: $green-highlights;
}

// HEADER STYLES END

// FORM STYLES START

#new-form-card {
	width: 660px;
	box-shadow: 0 0 11px rgba(0, 0, 0, 0.6);
	margin-right: auto;
	margin-left: auto;
}

.form-header {
	width: 100%;
	padding-top: 2%;
	padding-bottom: 2%;
	background-color: black;
}

.form-header p {
	color: #FFFFFF;
	font-size: 20px;
	margin-bottom: 0;
	margin-left: 50px;
}

.new-student-form-fields {
	padding-top: 40px;
	padding-right: 3%;
	padding-left: 3%;
	padding-bottom: 40px;
}

.new-student-form-fields p {
	margin-bottom: 5px;
	color: #1A1A1A;
	font-size: 13px;
	font-weight: 300;
}

.new-student-form-fields input[type=text], input[type=number] {
	width: 100%;
	padding: 8px 15px;
	border: 1px solid #999999;
	box-sizing: border-box;
}

.new-student-form-fields input[type=text]:focus, input[type=number]:focus {
	border: 2px solid $green-highlights;
	outline: none;
}

#date-field-box {
	margin-bottom: 65px;
}

.date-fields select {
	@include centering {
		position: relative;
	}
}

select#student_dob_2i {
	@include date {
		margin-right: 10px;
	}
}

select#student_dob_3i {
	@include date {
		margin-right: 10px;
	}
}

select#student_dob_1i {
	@include date
}

.btn-box {
	@include centering
}

.btn-box {
	width: 100%;
	padding: 70px 0px 70px 0px;
}

.save-student-btn {
	width: 235px;
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: $green-highlights;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	border: none;
	color: white;
	text-align: center;
}

// FORM STYLES END


















