@import "bootstrap";

// MIXINS START

$green-highlights: #00CB79;
$border-color: 3px solid #00CB79;

@mixin centering {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  @content;
}

@mixin date {
	box-sizing: border-box;
	float: left;
	width: 100%;
	height: 40px;
	padding: 0px 15px;
	background: transparent;
	-webkit-appearance: none;
	-webkit-border-radius: 0 !important;
	border-radius: 0;
	border: 1px solid #999999 !important;
	outline: none;
	background: image_url('dropdown-icon.svg') 96% / 15% no-repeat;
	background-size: 14px 8.5px;
	@content;
}

@mixin cards {
	position: relative;
	width: 660px;
	box-shadow: 0 0 11px rgba(0, 0, 0, 0.6);
	margin-right: auto;
	margin-left: auto;
	@content;
}

// MIXINS END

// GLOBAL STYLES START

html,
body {
	width: 100%;
	height: 100%;
	margin:0;
	padding:0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

// GLOBAL STYLES END

// HEADER STYLES START

#app-wrapper {
	margin-right: 15%;
	margin-left: 15%;
}

#header {
	width: 100%;
	padding-top: 15px;
	padding-bottom: 18px;
	background-color: black;
}

#header img {
	margin-left: 2%;
}

#nav-bar {
	margin-top: 30px;
}

.for-navbar {
	@include centering
}

.nav-item {
	float: left;
	height: 110px !important;
	margin-right: 3.5%;
	margin-left: 3.5%;
	text-align: center;
}

.nav-item p {
	font-size: 14px;
}

.status-icons {
	width: 40px;
	padding-top: 9px;
	padding-bottom: 8px;
	height: 40px !important;
	max-height: 40px;
	border: 1px solid #999999;
	margin-right: auto;
	margin-left: auto;
	box-sizing: border-box;
	text-align: center;
	color: #999999;
	transform-orgin: center;
	transform: rotate(45deg);
}

.status-icons p {
	transform-orgin: center;
	transform: rotate(-45deg);
}

.active-icon {
	border: $border-color;
	color: $green-highlights;
}

.nav-info {
	margin-top: 15px;
	line-height: 17px;
	color: #999999;
}

.active-text {
	color: $green-highlights;
}

// HEADER STYLES END

// FORM STYLES START

#course-card {
	@include cards {
		height: 475px;
		margin-top: 30px;
		margin-bottom: 30px;
	}
}

.change-course {
	width: 100%;
	padding-top: 19px;
	padding-bottom: 19px;
	margin-bottom: 20px;
	color: #999999;
	font-size: 14px;
}

.change-course span {
	padding-right: 28px;
}

.course-icon {
	height: 96px;
	width: 96px;
	margin-right: auto;
	margin-left: auto;
	background: image_url('python.svg') no-repeat;
	background-size: 96px 96px;
}

.course-text {
	width: 100%;
	margin-top: 35px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

.course-text h2 {
	font-size: 34px;
	color: $green-highlights;
}

.course-text p {
	font-size: 18px;
	color: #1A1A1A;
}

.course-text span {
	font-size: 14px;
	font-weight: 300;
	color: #999999;
}

.course-info {
	position: absolute;
	width: 100%;
	bottom: 45px;
	text-align: center;
}

.course-info p {
	font-size: 14px;
	color: $green-highlights;
	margin-bottom: 7px;
}

.course-info span {
	font-size: 16px;
	color: #808080;
}

#new-form-card {
	@include cards
}

.form-header {
	width: 100%;
	padding-top: 2%;
	padding-bottom: 2%;
	background-color: black;
}

.form-header p {
	color: #FFFFFF;
	font-size: 20px;
	margin-bottom: 0;
	margin-left: 50px;
}

.new-student-form-fields {
	padding-top: 40px;
	padding-right: 3%;
	padding-left: 3%;
	padding-bottom: 40px;
}

.new-student-form-fields p {
	margin-bottom: 5px;
	color: #1A1A1A;
	font-size: 13px;
	font-weight: 300;
}

.new-student-form-fields input[type=text] {
	width: 100%;
	padding: 8px 15px;
	border: 1px solid #999999;
	box-sizing: border-box;
	&:focus {
		border: 2px solid $green-highlights;
		outline: none;
	}
}

#contact-info {
	margin-bottom: 65px;
}

#location {
	margin-bottom: 65px;
}

#date-field-box {
	margin-bottom: 65px;
}

#select-fields select {
	@include date
}

#select-fields select:focus {
	border: 2px solid $green-highlights !important;
}

.date-fields select {
	@include centering {
		position: relative;
	}
}

select#student_dob_2i {
	margin-right: 10px;
	width: 200px !important;
}

select#student_dob_3i {
	margin-right: 10px;
	width: 200px !important;
}

select#student_dob_1i {
	width: 200px !important;
}

.btn-box {
	@include centering
}

.btn-box {
	width: 100%;
	padding: 70px 0px 70px 0px;
}

.save-student-btn {
	width: 235px;
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: $green-highlights;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	border: none;
	color: white;
	text-align: center;
}

// FORM STYLES END

// SHOW STYLES START

.scrolling-wrapper {
  overflow-x: hidden;
  overflow-y: scroll;
  white-space: wrap;
  
  .card {
    display: inline-block;
  }
}

// SHOW STYLES END












